/* COPYRIGHT
*
*
*
*
*
*
*
*
*/

body {
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.6;
    margin: 0;
    min-height: 100vh; */
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 90%;
    list-style: none;
}



h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8vw;

}

h4 {
    color: white;
    font-size: 1.8rem;
}

h2 {
    color: white;
    font-size: 2vw;
}

a {
    /* text-decoration: none; */
    /* color: #ecee5ece; */
    font-size: 2vw;
    color: white;
}



.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #ffffff;
    font-size: 2vw;
    /* margin: 5%; */
}

.main-nav a:hover {
    color: #718daa;
}



.header {
    display: flex;
    justify-content: space-around;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid black;
    background-color: #8B81F7;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

footer {
    justify-content: center;
    display: flex;
    /* justify-content: space-around; */
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid black;
    background-color: #8B81F7;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
}

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    /* justify-content: space-around; */
    .header {
        /* width: 80%; */
        margin: 0 auto;
        /* max-width: 1150px; */
    }
}



@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }

}