* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: blue; */
    /* border: solid red 0.5px; */
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #4137AB;

}

header {
    /* border: solid red 2px; */
    /* height: 5%; */
}

.banner {
    /* border: black solid 0.5px; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    /* overflow: hidden; */
}

.test {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    color: rgb(248, 230, 129);
    font-size: 15vw;
    line-height: 1.1em;
    outline: none;
    text-align: center;
    user-select: none;
    transform: rotate(10deg) skewX(20deg);
    text-shadow: -1px -1px 1px #000000,
        -2px 2px #000000,
        1px -3px 3px #000000,
        -4px 4px rgb(122, 122, 118),
        -5px 5px rgb(122, 122, 118),
        -6px 6px rgb(122, 122, 118),
        -7px 7px rgb(122, 122, 118),
        -8px 8px rgb(122, 122, 118),
        -9px 9px #000000,
        -10px 10px rgb(122, 122, 118),
        -11px 11px rgb(122, 122, 118),
        -12px 12px rgb(122, 122, 118),
        -13px 13px rgb(122, 122, 118),
        -14px 14px rgb(122, 122, 118),
        -15px 15px #000000,
        -20px 20px rgba(0, 0, 0, 0.2);
    ;
}

.creative-title {
    /* display: flex;
justify-content: center; */
    /* width: 100%; */
    /* margin: auto;
    position: relative;
    font-size: 14vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4137AB;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase; */
}

.creative-title::before {
    /* display: flex;
    justify-content: center; */
    /* content: attr(data-text);
    position: absolute; */
    /* text-align: center; */
    /* margin: auto; */
    /* top: 0; */
    /* left: 0; */
    /* left: 0%; */
    /* right: 11%; */
    /* width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 10s linear infinite; */
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0%;
    }

    70%,
    90% {
        width: 100%;
    }
}

.title {
    margin-top: 5%;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;
    font-size: 2.8vw;
    color: black;
}

main {
    /* margin: 10%; */
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.mainBackground {
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* animation: animateBg 2s linear infinite;
    background-image: linear-gradient(0deg,#d5e845,#e6194d,#d5e845,#e6194d);
    background-size: 100% 300%;*/
}

@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.rotate {
    position: relative;
    width: 120%;
    height: 100%;
    overflow: hidden;
    transform: rotate(-10deg);
    margin-top: 8%;
    /* border: solid black 0.5px; */
    right: 10%;
    color: blue;
    animation: animateBg 5s linear infinite;
    /* background-image: linear-gradient(33deg, #e0af54, rgb(248, 230, 129), #e0af54, rgb(248, 230, 129)); */
    background-color: #4137AB;
    /* background-size: 100% 300%; */
    /* margin-right: 50%; */
    /* background-image: url(./img/BABIES_BEARS.png); */
}

article {
    border: black solid 0.5px;
    -webkit-box-shadow: -1px 3px 4px 4px #000000;
    box-shadow: -1px 3px 4px 4px #000000;
    background-color: rgb(248, 230, 129);
    overflow: hidden;
}

article>h1 {
    border: black solid 0.5px;
    background-color: #F8E681;
}

.article-bears,
.article-bears2,
.article-bears3 {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    /* margin: 5%; */
    overflow: hidden;
    text-align: center;
    justify-content: space-evenly;
    /* border: blue solid 0.5px; */
    /* background-color: black; */
    /* white-space: nowrap; */

}

.article-bears,
.article-bears3 {
    animation: scrollRight 15s linear infinite alternate;
    white-space: nowrap;
    /* animation-iteration-count:infinite; */
    /* animation-direction: alternate; */
}

.article-bears2,
.article-bears4 {
    animation: scrollLeft 15s linear infinite alternate;
    /* animation: scrollTest 10s linear infinite alternate; */
    white-space: nowrap;
    /* animation-direction: alternate; */
    /* transition-timing-function: ease-in-out; */
}

article {
    /* height: 400px; */
    width: 100%;
    margin: 1%;

}

article>h1 {
    font-size: 3vw;
}

article>img {
    width: 100%;
    height: 100%;
}

.devteam {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    /* margin: 5%; */
    background-color: #4137AB;
    overflow: hidden;
    text-align: center;
    justify-content: space-evenly;
}

.devteam>article {
    background-color: #8B81F7;
}

.article>a {
    font-size: 1.5rem;
    color: blue;
}

article>p {
    margin: 5%;
    font-size: 2vw;
}

footer {
    margin-top: 5%;
    /* height: 10%; */
    text-align: center;
}

@keyframes scrollRight {
    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(50%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes scrollLeft {
    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(50%, 0);
    }
}

.team {
    /* border: blueviolet solid 2px; */
    margin-top: 10%;
}

.roadmap {
    margin-top: 10%;
    font-size: 2rem;
    color: black;
}

.roadmap>article {
    margin-top: 5%;
    width: 60%;
    margin: auto;
    text-align: center;
    color: black;
}

p>img {
    width: 2.5%;
    margin-top: 2%;
}